  .card-item {
    min-width: 22%;

    display: flex;
    flex-direction: column;
    height: 284px;
    align-items: center;
    border: 1px;
    margin: 5px;
    position: relative;

  
  

   &:hover {
        cursor: pointer;
        transform: scale(1.1);
   }
  
  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    border-radius: 5px;
  
  }
  

  .card-item-content{
    width: inherit;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    font-size: 18px;
    position: absolute;
    padding: 8px 1rem;
    bottom: 26px;

    .heading{
      font-size: 13px;
      font-weight: bold;
      padding: 0  0 5px 0;
    
    }
    .text{
      padding: 0  0 12px 0;
      font-size: 12px;
    }
   
  }
}
img{
  width: 100%;
}