.content-main{
 flex-basis: 40%;
 margin-right: 8rem;
 margin-left: 2rem;

.content-left{
  width: 335px;
  display: inline-block;

 .logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }
 img{
     width: 100%;
 }
 .text{
     font-size: 12px;
 }
  .btn-div{
  width: 70px;
  display: flex;
  justify-content: space-between;
  text-align: center;

  .fab, .fas{
      margin: 5px;
      color: white;
      font-size: 20px;
      align-items: center;
  }
 .icns{
     font-size: 15px;
 }
}
.icons{
    display: flex;
    justify-content: space-between;
}
 }

}